#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,0,0,0
 PRODUCTVERSION 4,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 BEGIN
   BLOCK "StringFileInfo"
   BEGIN
     BLOCK "040904B0"
     BEGIN
       VALUE "CompanyName", "William G Lea\0"
       VALUE "FileDescription", "PrintScreen SKSE Plugin\0"
       VALUE "FileVersion", "4.0.0\0"
       VALUE "ProductVersion", "4.0.0\0"
       VALUE "InternalName", "PrintScreen.dll\0"
       VALUE "OriginalFilename", "PrintScreen.dll\0"
     END
   END
   BLOCK "VarFileInfo"
   BEGIN
     VALUE "Translation", 0x0409, 1200
   END
 END
